/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #eee, #fff, #eee);
}

.bg-border {
  box-shadow: 3px 3px 3px 3px #d3d3d3;
  border-radius: 3px;
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
}

.header-top {
  padding-top: 2em;
  -webkit-animation: slide 2s linear;
  -moz-animation: slide 2s linear;
  animation: slide 2s linear;
}

.header-center {
  padding-top: 10em;

}


.blink {
  -webkit-animation: blink 2s linear infinite;
  -moz-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.2;

    }
    100% {
      opacity: 1;
    }
  }

@keyframes slide {
  0% {
    padding-top: 10em;
  }

  50% {
    padding-top: 1em;
  }

  100% {
    padding-top: 2em;
  }
}
